body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecdada;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}


.navbar{
    background-color: #b12525;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 200px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mood-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 100%;
}


